version: '3.8'

services:
  app:
    build: .
    container_name: laravel_app
    ports:
      - "9000:9000"
    environment:
      APP_ENV: local
      APP_DEBUG: true
      APP_KEY: base64:PLACE_YOUR_KEY_HERE
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: ramadan1
      DB_USERNAME: root
      DB_PASSWORD: secret
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: ramadan1
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata: